<div class="large-card-wrapper">
    <div class='large-card'>
        <div class='card-image-wrapper'>
            <a href='{{ program.url }}'>
                <img class="image" src='{{ program.image720Url }}' />
            </a>
        </div>

        <div class='card-info'>
            <div class="title one-line"><a href='{{ program.url }}'>{{ program.title | escape }}</a></div>
            <div class="description two-line">{{program.descriptionHtml}}</div>
            <div class="two-items">
                <div class="second">
                    {% for time in program.upcoming %}
                    {% if forloop.first %}
                    <i class="fa fa-calendar-o"></i> {{ time.startTimeUtc | local_time }}
                    {% endif %}
                    {% endfor %}
                </div>

                <div class="first one-line">
                    {% if program.PricingAvailable %}
                        {{program.price | money}}
                    {% endif %}
                </div>
            </div>
            
            <div>
                <a class='btn btn-primary' href='{{ program.url }}'>View Details</a>
            </div>
        </div>
    </div>
</div>