{% extends base %}
{% block title %}Archive - {{ store.name }}{% endblock %}

{% block head %}
{{ templatePage | meta_tags }}
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <h2>{{ booking.listing.title | escape }} - {{ archive.createdDate | local_time }}</h2>
        <div class="divider"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        {% assign videoUrl = archive.downloadUrl %}
        {% include video-player%}
    </div>

    <div class="col-md-4">
        <p><strong>Session:</strong> <a href="{{ booking.listing.url }}" target="_blank">{{ booking.listing.title | escape }}</a></p>
        <p><strong>Time:</strong> {{ booking.startTimeUTC | local_time }}</p>
        <p><strong>With:</strong> {{ booking.listing.teamMember.displayname }}</p>
        <p>
            <a class="btn btn-primary" role="button" href="{{archive.downloadUrl}}"><i class="fa fa-download"></i> Download</a>
        </p>
    </div>
</div>
{% endblock %}

{% block scripts %}

{% include video-player-scripts%}
{% endblock %}